.fast-menu{

}
.shakil{
    margin-top: 50px;

}
.background-div{
    background-color: #f8f9fa;
    padding: 50px 0;
}
.servicr-aitem-color{
    background-color: #f8f9fa;
    padding: 50px;
}
.futer {
    margin-left: 513px;
}